<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lip.mapper.PlantinfoMapper" >
  <resultMap id="BaseResultMap" type="com.lip.pojo.Plantinfo" >
    <id column="pid" property="pid" jdbcType="INTEGER" />
    <result column="pname" property="pname" jdbcType="VARCHAR" />
    <result column="pimg" property="pimg" jdbcType="VARCHAR" />
    <result column="psname" property="psname" jdbcType="VARCHAR" />
    <result column="pdetail" property="pdetail" jdbcType="VARCHAR" />
    <result column="ptype" property="ptype" jdbcType="VARCHAR" />
    <result column="plhxg" property="plhxg" jdbcType="VARCHAR" />
    <result column="pxyfb" property="pxyfb" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    pid, pname, pimg, psname, pdetail, ptype, plhxg, pxyfb
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.lip.pojo.PlantinfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from plantinfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from plantinfo
    where pid = #{pid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from plantinfo
    where pid = #{pid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.lip.pojo.PlantinfoExample" >
    delete from plantinfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.lip.pojo.Plantinfo" >
    insert into plantinfo (pid, pname, pimg, 
      psname, pdetail, ptype, 
      plhxg, pxyfb)
    values (#{pid,jdbcType=INTEGER}, #{pname,jdbcType=VARCHAR}, #{pimg,jdbcType=VARCHAR}, 
      #{psname,jdbcType=VARCHAR}, #{pdetail,jdbcType=VARCHAR}, #{ptype,jdbcType=VARCHAR}, 
      #{plhxg,jdbcType=VARCHAR}, #{pxyfb,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.lip.pojo.Plantinfo" >
    insert into plantinfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pid != null" >
        pid,
      </if>
      <if test="pname != null" >
        pname,
      </if>
      <if test="pimg != null" >
        pimg,
      </if>
      <if test="psname != null" >
        psname,
      </if>
      <if test="pdetail != null" >
        pdetail,
      </if>
      <if test="ptype != null" >
        ptype,
      </if>
      <if test="plhxg != null" >
        plhxg,
      </if>
      <if test="pxyfb != null" >
        pxyfb,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pid != null" >
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="pname != null" >
        #{pname,jdbcType=VARCHAR},
      </if>
      <if test="pimg != null" >
        #{pimg,jdbcType=VARCHAR},
      </if>
      <if test="psname != null" >
        #{psname,jdbcType=VARCHAR},
      </if>
      <if test="pdetail != null" >
        #{pdetail,jdbcType=VARCHAR},
      </if>
      <if test="ptype != null" >
        #{ptype,jdbcType=VARCHAR},
      </if>
      <if test="plhxg != null" >
        #{plhxg,jdbcType=VARCHAR},
      </if>
      <if test="pxyfb != null" >
        #{pxyfb,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.lip.pojo.PlantinfoExample" resultType="java.lang.Integer" >
    select count(*) from plantinfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update plantinfo
    <set >
      <if test="record.pid != null" >
        pid = #{record.pid,jdbcType=INTEGER},
      </if>
      <if test="record.pname != null" >
        pname = #{record.pname,jdbcType=VARCHAR},
      </if>
      <if test="record.pimg != null" >
        pimg = #{record.pimg,jdbcType=VARCHAR},
      </if>
      <if test="record.psname != null" >
        psname = #{record.psname,jdbcType=VARCHAR},
      </if>
      <if test="record.pdetail != null" >
        pdetail = #{record.pdetail,jdbcType=VARCHAR},
      </if>
      <if test="record.ptype != null" >
        ptype = #{record.ptype,jdbcType=VARCHAR},
      </if>
      <if test="record.plhxg != null" >
        plhxg = #{record.plhxg,jdbcType=VARCHAR},
      </if>
      <if test="record.pxyfb != null" >
        pxyfb = #{record.pxyfb,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update plantinfo
    set pid = #{record.pid,jdbcType=INTEGER},
      pname = #{record.pname,jdbcType=VARCHAR},
      pimg = #{record.pimg,jdbcType=VARCHAR},
      psname = #{record.psname,jdbcType=VARCHAR},
      pdetail = #{record.pdetail,jdbcType=VARCHAR},
      ptype = #{record.ptype,jdbcType=VARCHAR},
      plhxg = #{record.plhxg,jdbcType=VARCHAR},
      pxyfb = #{record.pxyfb,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.lip.pojo.Plantinfo" >
    update plantinfo
    <set >
      <if test="pname != null" >
        pname = #{pname,jdbcType=VARCHAR},
      </if>
      <if test="pimg != null" >
        pimg = #{pimg,jdbcType=VARCHAR},
      </if>
      <if test="psname != null" >
        psname = #{psname,jdbcType=VARCHAR},
      </if>
      <if test="pdetail != null" >
        pdetail = #{pdetail,jdbcType=VARCHAR},
      </if>
      <if test="ptype != null" >
        ptype = #{ptype,jdbcType=VARCHAR},
      </if>
      <if test="plhxg != null" >
        plhxg = #{plhxg,jdbcType=VARCHAR},
      </if>
      <if test="pxyfb != null" >
        pxyfb = #{pxyfb,jdbcType=VARCHAR},
      </if>
    </set>
    where pid = #{pid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lip.pojo.Plantinfo" >
    update plantinfo
    set pname = #{pname,jdbcType=VARCHAR},
      pimg = #{pimg,jdbcType=VARCHAR},
      psname = #{psname,jdbcType=VARCHAR},
      pdetail = #{pdetail,jdbcType=VARCHAR},
      ptype = #{ptype,jdbcType=VARCHAR},
      plhxg = #{plhxg,jdbcType=VARCHAR},
      pxyfb = #{pxyfb,jdbcType=VARCHAR}
    where pid = #{pid,jdbcType=INTEGER}
  </update>
</mapper>